version: '3'

services:

  postgres:
    image: postgres
    container_name: postgres
    ports: [ 5432:5432 ]
    env_file: .env

  adminer:
    image: adminer
    container_name: adminer
    ports: [ 8080:8080 ]
    depends_on: [ postgres ]
